server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ssm-demo?useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT
    username: root
    password: tangguo
    #mysql驱动
    driverClassName: com.mysql.cj.jdbc.Driver
    #定义最大连接数
    max-active: 20
    #定义最大空闲
    max-idle: 8
    #定义最小空闲
    min-idle: 8
    #定义初始连接数
    initial-size: 10
    #定义最长等待时间
    maxWait: 60000
mybatis:
  mapper-locations: classpath:/mappers/*Mapper.xml
  type-aliases-package: com.haha.ssmproject.*.dao
